@model Hospital.Models.Pharmacy

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript"></script>

<h1>Details</h1>

<div>
    <h4>Pharmacy</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            Rating (based on @ViewData["RatingsCount"] ratings)
        </dt>
        <dd class="col-sm-10">
            @ViewData["Rating"]
        </dd>
    </dl>

    <a asp-area="" asp-controller="Workers" asp-action="WorkersForPharmacy" asp-route-id="@Model.Id">See all workers</a>
    <a asp-area="" asp-controller="Workers" asp-action="WorkersForPharmacy" asp-all-route-data='new Dictionary<string, string> { ["role"] = "Doctor", ["id"] = Model.Id.ToString()}'>See doctors</a>
    <a asp-area="" asp-controller="Workers" asp-action="WorkersForPharmacy" asp-all-route-data='new Dictionary<string, string> { ["role"] = "Pharmacist", ["id"] = Model.Id.ToString()}'>See pharmacists</a>

    <div name="GoogleMap">

        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=@ViewData["Address"]&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.online-timer.net">timer</a><br>
                <style>
                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 500px;
                        width: 600px;
                    }
                </style><a href="https://www.embedgooglemap.net">embedded google maps in website</a>
                <style>
                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 500px;
                        width: 600px;
                    }
                </style>
            </div>
        </div>
    </div>
</div>
<div>
    @if ((SignInManager.IsSignedIn(User) &&
                      (await AuthorizationService.AuthorizeAsync(User, null, "AdminPolicy")).Succeeded))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
    <a asp-area="" asp-controller="Reviews" asp-action="Create" asp-route-id="@Model.Id" asp-all-route-data='new Dictionary<string, string> { ["description"] = Model.ToString(), ["id"] = Model.Id.ToString()}'>Rate</a>

</div>
