@model IEnumerable<Hospital.Models.Drug>

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if ((SignInManager.IsSignedIn(User) &&
   ((await AuthorizationService.AuthorizeAsync(User, null, "AdminPolicy")).Succeeded ||
   (await AuthorizationService.AuthorizeAsync(User, null, "PharmacistPolicy")).Succeeded)))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table id="smartTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingredients)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @if ((SignInManager.IsSignedIn(User) &&
                    ((await AuthorizationService.AuthorizeAsync(User, null, "AdminPolicy")).Succeeded ||
                      (await AuthorizationService.AuthorizeAsync(User, null, "PharmacistPolicy")).Succeeded)))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
