@model IEnumerable<Hospital.Models.Appointment>

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
    var userId = (await UserManager.GetUserAsync(User)).Id;
}

<h1>Index</h1>

<a asp-action="GetFreeAppointments">See all free appointments</a>
@if (User.IsInRole("Patient"))
{
    <br />
    <a asp-action="GetPharmaciesWithFreeAppointment">Request an appointment</a>
}

<table id="smartTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PharmacyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalWorkerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PharmacyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicalWorkerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Cancel</a>
                    }
                    @if (User.IsInRole("Patient") && item.PatientId == userId && DateTime.Now.AddDays(1) < item.StartTime)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    @if (User.IsInRole("Patient") && item.PatientId == null)
                    {

                        <a asp-action="TakeAppointment" asp-route-id="@item.Id">Take appointment</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
